.hero {
  display: grid;
  grid-template-columns: auto auto;
  place-content: center;
  align-items: center;
  padding: 2rem 4rem;
}

.hero-text h1 {
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 78px;
  margin-right: 2rem;
}

span {
  color: #ff4500;
}

.hero-img {
  width: 485px;
  margin-left: 4rem;
}

@media screen and (max-width: 1024px) {
  .hero {
    padding: 2rem 2rem;
  }

  .hero-text h1 {
    font-size: 3.5rem;
    line-height: 58px;
    margin-right: 2rem;
  }

  .hero-img {
    width: 385px;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 840px) {
  .hero {
    grid-template-columns: auto;
    margin: auto;
  }

  .hero-text h1 {
    font-style: italic;
    font-size: 1.7rem;
    line-height: 30px;
    text-align: center;
    margin: 0 auto 2rem;
  }

  .hero-img {
    width: 100%;
    margin-left: 0;
    margin: auto;
  }
}
