* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  transition: all 0.3s linear;
}
